@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    font-family: "Italiana", serif;
  }

  
body {
    background-color: rgb(18, 17, 17);
}
 /*porfolio css*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.head-logo {
    font-size: 2rem;
    color: rgb(223, 50, 50);
    font-weight: 600;
    letter-spacing:  1pxs;
    padding: 20px 100px;
}

.head-logo span {
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 20px 100px;
}

nav a {
    text-decoration: none;
    color: white;
}

.nav-items {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: 0.16;
}

.nav-items :hover {
    color: red;
    text-shadow: 0 0 20px #c0262a;
}

nav button {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: 0.16;
    letter-spacing: 1px;
    background-color: #c0262a;
    height: 40px;
    width: 200px;
    border-radius: 50px;
}

nav button:hover {
    background-color: #e70b12;
    letter-spacing: 5px;
}

.content img {
    position: absolute;
    top: 185px;
    bottom: 0;
    right: 0;
    left: 40%;
    width: 50%;
    pointer-events: none;
    
}

.left-content {
    width: 50%;
    margin-left: 75px;
    font-size: 1.8rem;
    color: #c0262a;
    letter-spacing: 2px;
    margin-left: 100px;
}

.left-content h2 {
    font-size: 2rem;
    color: #c0262a;
    letter-spacing: 2px;
}
.left-content h2::selection {
    background-color: #ffffff;
}

.left-content h1 {
    font-size: 6rem;
    font-weight: 800;
    letter-spacing: 3px;
    color: white;
    padding-bottom: 15px 0;
}

.left-content h1::selection {
    background-color: #c0262a;
}

.left-content p {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.6;
    color: rgb(206, 206, 206);
    width: 75%;
    padding-bottom: 50px;
}

.left-content p::selection {
    background-color: #c0262a;
}

.left-content button {
    font-size: 1.2rem;
    color: #c0262a;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: transparent;
    border: 1px solid #c0262a;
    height: 50px;
    width: 270px;
    border-radius: 50px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: 0.16s;
}

.left-content button:hover {
    background-color: #c0262a;
    color: white;
    letter-spacing: 5px;
}

.content {
    display: flex;
    align-items: center;
    height: 80vh;
}


.social-links {
    display: flex;
    gap: 20px;
    align-items:  center;
    position: absolute;
    bottom: 5px;
    right: 50%;
    transform: translate(50%);
}

.social-links i {
    font-size: 1.1rem;
    color: #c0262a;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.16s;
}

.social-links i:hover {
    transform: rotate(360deg);
    box-shadow: 0 0 10px #c0262a;
}

/* Animations */
@keyframes bottomIn {
    from{
        transform: translateY(250px) scale(0.6);
    }
    to{
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

@keyframes bottomInImage {
    from{
        transform: translateY(250px) scale(0.6);
    }
    to{
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.content h2 {
    animation: bottomIn 1s ease-out forwards;
    opacity: 0;
    animation-delay: 0.2s;
}

.content h1 {
    animation: bottomIn 1.2s ease-out forwards;
    opacity: 0;
    animation-delay: 0.4s;
}   

.content p {
    animation: bottomIn 1.4s ease-out forwards;
    opacity: 0;
    animation-delay: 0.6s;
}   
.content button {
    animation: bottomIn 1.4s ease-out forwards;
    opacity: 0;
    animation-delay: 0.8s;
}   

.content img {
    animation: bottomInImage 1.6s ease-out forwards;
    opacity: 0;
    animation-delay: 0.10s;
}


@keyframes zoomIn {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

.nav-items,
.head-logo,
nav button{
    animation: zoomIn 1.6s ease-out forwards;
    opacity: 0;
    animation-delay: 0.6s;
}


@keyframes bottomInSocial {
    from{
        transform: translateY(250px) translateY(50%) scale(0.6);
    }
    to{
        transform: translateY(0) translateY(50%) scale(1);
        opacity: 1;
    }
}

.social-links{
    animation: zoomIn 1.6s ease-out forwards;
    opacity: 0;
    animation-delay: 0.6s;
}
